<div class="d-flex justify-content-center">
    <button class= "btn-lg btn-secondary mr-1" type="button" >Clear Filters</button>
    <button class= "btn border-dark mr-1" type="button" >Popularity</button>
    <button class= "btn border-dark mr-1" type="button" >Budget</button>
    <button class= "btn border-dark mr-1" type="button" >Revenue</button>
    <button class= "btn border-dark mr-1" type="button" >Title</button>
    <button class= "btn border-dark mr-1" type="button" >Cast</button>
    <button class= "btn border-dark mr-1" type="button" >Homepage</button>
    <button class= "btn border-dark mr-1" type="button" >Director</button>
</div>

<!-- [class.selected]="hero === selectedHero" (click)="onSelect(hero)" -->