<div class="mt-5">
  <h2 class="header" id="careerstats">Filtered Movies</h2>
  <table class="table table-responsive table-striped .table-success">
    <tr>
      <th>Original Title</th>
      <th>Overview</th>
      <th>IMDB ID</th>
      <th>Popularity</th>
      <th>Budget</th>
      <th>Revenue</th>
      <th>Cast</th>
      <th>Homepage</th>
      <th>Director</th>
      <th>Tagline</th>
      <th>Keywords</th>
      <th>Runtime</th>
      <th>Genres</th>
      <th>Production Companies</th>
      <th>Release Date</th>
      <th>Vote Count</th>
      <th>Vote Average</th>
      <th>Release Year</th>
      <th>Budget Adj</th>
      <th>Revenue Adj</th>
    </tr>

    <tr class="movies">
      <td *ngFor="let movie of movies">
        <button [class.selected]="movie === selectedMovie" type="button" (click)="onSelect(movie)">
          <div [routerLink]="['/detail', movie.id]">
            <span class="name">{{movie.original_title}}</span>
            <span class="badge">{{movie.imdb_id}}</span>
            <span class="popularity">{{movie.popularity}}</span>
            <span class="budget">{{movie.budget}}</span>
            <span class="revenue">{{movie.revenue}}</span>
            <span class="cast">{{movie.cast}}</span>
            <span class="homepage">{{movie.homepage}}</span>
            <span class="director">{{movie.director}}</span>
            <span class="tagline">{{movie.tagline}}</span>
            <span class="keywords">{{movie.keywords}}</span>
            <span class="runtime">{{movie.runtime}}</span>
            <span class="genre">{{movie.genres}}</span>
            <span class="production-co">{{movie.production_companies}}</span>
            <span class="release-date">{{movie.release_date}}</span>
            <span class="vote-count">{{movie.vote_count}}</span>
            <span class="vote-average">{{movie.vote_average}}</span>
            <span class="release-year">{{movie.release_year}}</span>
            <span class="budge-adj">{{movie.budget_adj}}</span>
            <span class="revenue-adj">{{movie.revenue_adj}}</span>
          </div>
        </button>
      </td>
    </tr>
  </table>
</div>
